.Rproj*
.Rhistory
.RData
ignore
output
.DS_Store
.maker
.remake

figure*
CarbonInvestments.pdf
CarbonInvestments.tex

*.whisker
./bootstrap

# LaTeX #
#########
*.aux
*.bbl
*.blg
*.dvi
*.fff
*.lof
*.lot
*.out
*.toc
*.ttt
*.log
*.gz
.Rproj.user
