.Rproj*
.Rhistory
.RData
ignore
output
.DS_Store
.maker
.remake
*.html
talk.md
talk.pdf
figure/*
export
CarbonInvestments.pdf
CarbonInvestments.tex
ms/Accessory/ms-supp.tex
ms/Accessory/ms-supp.pdf
ms/Accessory/Wenk-Accessory-SI.tex
ms/Accessory/Wenk-Accessory-SI.pdf
ms/Accessory/figure/
ms/Accessory/output/
results.md
~*.doc*
*.whisker
./bootstrap
# LaTeX #
#########
*.aux
*.bbl
*.blg
*.dvi
*.fff
*.lof
*.lot
*.out
*.toc
*.ttt
*.log
*.gz
.Rproj.user
figs2
