.Rproj*
.Rhistory
.RData
ignore
output
.DS_Store
.maker

docs/figures
docs/tables
docs/CarbonInvestments.pdf

*.whisker
./bootstrap

# LaTeX #
#########
*.aux
*.bbl
*.blg
*.dvi
*.fff
*.lof
*.lot
*.out
*.toc
*.ttt
*.log
*.gz
